<div class="@TopRowClass">
    @if (!IsCollapsed)
    {
        <a class="navbar-brand" href="">Blazor Employee</a>
    }
    <button class="@ToggleBtnClass" @onclick="ToggleSidebar" title="Toggle menu">
        <span class="hamburger-icon">&#9776;</span>
    </button>
</div>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="@NavLinkClass" href="EmployeePage">
                <svg class="bi" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                </svg>
                @if (!IsCollapsed)
                {
                    <span>Employee</span>
                }
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter] public bool IsCollapsed { get; set; }
    [Parameter] public EventCallback ToggleSidebar { get; set; }

    private string TopRowClass => IsCollapsed
        ? "top-row navbar navbar-dark collapsed"
        : "top-row navbar navbar-dark";

    private string ToggleBtnClass => IsCollapsed
        ? "btn btn-link text-white toggle-btn centered"
        : "btn btn-link text-white toggle-btn";

    private string NavLinkClass => IsCollapsed
        ? "nav-link nav-collapsed"
        : "nav-link";
}
